nav {
   width: 100%;
   margin-left: 45px;
}

:root {
   --color: #716aa8;
   --hover-color: #dddddd;
}

.link {
   display: flex;
   align-items: center;
   margin-bottom: 20px;
}

.icon {
   width: 25px;
   fill: var(--color);
}

.link:hover, 
.icon:hover {
   cursor: pointer;
}

.link:hover .icon path,
.link:hover .icon polygon,
.link:hover .icon circle,
.icon:hover path,
.icon:hover polygon,
.icon:hover circle  {
   fill: var(--hover-color);
}

.link label {
   font-size: 1em;
   color: var(--color);
   margin-left: 20px;
}

.link:hover label {
   color: var(--hover-color);
   cursor: pointer;
}

hr {
   width: 25px;
   height: 1px;
   background-color: var(--color);
   border: none;
   margin: 10px 0 15px 0;
}